[2019-11-13 00:34] mattwelke opened #1 "Link to docs broken"
In the README, there's a link to the documentation for the provider (https://www.terraform.io/docs/providers/civo/index.html) which is broken when I click it. I wasn't able to find any mention of a Civo provider in the official Terraform provider list.

[2019-11-16 20:17] alejandrojnm commented on #1
@mattwelke we are working on this, hopefully it will be ready very soon

[2020-01-25 00:49] #1 closed

[2020-04-11 23:26] alejandrojnm opened #5 "Fix all message in the system"
- Fix all message in the system using this format

[2020-04-18 04:26] #5 closed

[2020-04-24 14:17] DanielCalvo opened #10 "Civo Provider documentation not found"
I headed over to https://www.terraform.io/docs/providers/civo/index.html as described on the README.md and nothing :(

Civo also appears to not be listed as a provider: https://www.terraform.io/docs/providers/

[2020-04-24 14:38] andyjeffries commented on #10
Thanks for raising this. I think that's in the documentation for when after our community has tested it and we submit it for acceptance in Terraform.

[2020-04-24 14:59] alejandrojnm commented on #10
@DanielCalvo you can see the documentation inside https://github.com/civo/terraform-provider-civo/tree/master/website/docs the `r` folder is for the resource and `d` for the datasource. Thanks for the feedback

[2020-05-06 03:37] #10 closed

[2020-06-07 11:22] vCra opened #16 "Failing to find k8s cluster after deletion"
After deleting a cluster outside of terraform, with the cluster still existing within the tfstate, the provider attempts to connect to the cluster, which no longer exists.

[code]

Terraform should recreate the cluster.
Current workaround is to rm the cluster from state before applying terraform

[2020-06-07 12:55] alejandrojnm commented on #16
Hi @vCra, this error gives you when you run plan, refresh?

[2020-06-07 12:58] vCra commented on #16
Yep - tried refresh, plan and apply

[2020-06-07 20:37] #16 closed

[2020-06-15 00:51] jhole89 opened #17 "Cannot use provider with Terraform v0.13"
This is more of a heads up/warning but I was playing around with the civo provider today and noticed that it is unusable since upgrading to Terraform version 0.13.0-beta1.

Despite having the provider locally as described in the docs (which previously worked fine), with the upgrade to v0.13 terraform now seems to ignore this and search the registry for the civo provider, where it is not currently

[2020-06-22 19:13] alejandrojnm commented on #17
Hi @jhole89, yes you got that error because civo is not yet in the terraform registry, that is the reason you got that error. Ypu can follow this [guide](https://www.civo.com/learn/using-the-civo-terraform-provider) and try again.

[2020-06-24 21:45] jhole89 commented on #17
Hey @alejandrojnm, yeah I'm aware as I've been using it with tf 0.12 fine (you can see the terraform-civo-provider) in my tf plugins above. I was trying to explain that in tf 0.13 it seems to go around this and ignore locally installed providers and instead only search for providers that are listed in the registry (at least by default - I'm not sure if they've added a setting to revert this this b

[2020-06-24 23:57] alejandrojnm commented on #17
i found a solution, @andyjeffries we need add civo to the registry of terraform. This is the link https://registry.terraform.io/sign-in, but i think i need finish all test first before send the request to HashiCorp

[2020-07-17 18:32] #17 closed

[2020-08-24 23:17] stack72 opened #19 "`resource_kubernetes_cluster` `kubernetes_version` needs to be Computed: true"
As this is an optional parameter and will be set by Civo (by default), then without it being `Computed: true`, there is a perpetual diff because the code doesn't reflect what the state requires

[2020-09-02 12:57] stack72 opened #21 ""New docs format" seems to move away from Terraform standard"
The Terraform standard for docs formatting is to use a website folder - this commit https://github.com/civo/terraform-provider-civo/commit/a3ee77767e97f43cc6659786d3ea137603f758cd moves the docs away from this standard

Was there any specific reason for this?

[2020-09-02 13:42] alejandrojnm commented on #21
We don't have a documentation in the terraform.io site so we decide to move all to the new version, which is the registry https://www.terraform.io/docs/registry/providers/docs.html#migrating-legacy-providers-docs

[2020-09-02 14:00] #21 closed

[2020-09-22 02:18] guitcastro opened #23 "return a descriptive error when api call fails"
Iam getting the following error:

`[ERROR] eval: *terraform.evalReadDataRefresh, err: Unable to load records: [ERR] error retrieving all templates: Unknow Error`

For this piece of code:

[code]

I got the same error for this other piece of code (note, the error above started to appear out of no where, the code usually fail in bellow step)
[code]

And last week I got the same error beacuse I was u

[2020-09-22 16:43] guitcastro commented on #23
By the way, the error is because I didn´t have a credit card in CIVO

[2020-09-22 18:10] alejandrojnm commented on #23
Hi @guitcastro i will check this

[2020-09-23 15:21] alejandrojnm commented on #23
Hi @guitcastro with the last update you shouldn't see the `Unknown Error` anymore, let me know if happens again

[2020-09-23 15:21] #23 closed

[2020-09-23 15:24] alejandrojnm commented on #19
@stack72 sorry for the delay, checking this

[2020-09-24 12:04] #19 closed

[2020-09-25 04:43] guitcastro opened #24 "Error: "public_ip": this field cannot be set"
It´s not possible to set the field `public_ip `in `civo_instance`  I believe that is because it´s being used as argument and attributes.

[2020-09-25 14:29] alejandrojnm commented on #24
Hi @guitcastro let me check this

[2020-09-25 14:34] alejandrojnm commented on #24
Hi the problem is the field is not `public_ip` is `public_ip_requiered` the `public_ip` is a computed field, the documentation is wrong i will fix now

[2020-09-25 14:34] #24 closed

[2020-09-25 15:09] guitcastro commented on #24
@alejandrojnm Thanks!

[2020-11-09 11:01] javicv opened #25 "DNS record type causes update in-place"
When using a resource *civo_dns_domain_record* to create a DNS record the type must be "A", but the terraform.tfstate stores this type as "a".

This difference causes an update in-place each time you try to apply anything.
![image](https://user-images.githubusercontent.com/18577298/98533254-03846300-2283-11eb-8d09-cb5727a5c622.png)

[2020-11-26 11:53] alejandrojnm commented on #25
Thanks for this report, I will check now and sorry for the delay

[2020-11-26 13:18] #25 closed

[2021-03-08 13:24] jayanth-iyer opened #28 "Failed to install provider"
Hello,

Trying to play with Terraform provider of CIVO. Getting the below error after running terraform plan - screenshot attached
![Screenshot-1](https://user-images.githubusercontent.com/20254557/110327212-b2715980-803f-11eb-9e4f-172cd110b0ed.JPG)

F:\codebase\civo-terraform\config>terraform plan

Error: Could not load plugin

Plugin reinitialization required. Please run "terraform init".

Plugi

[2021-03-08 13:44] jayanth-iyer commented on #28
This has been fixed by doing the below - there is a mismatch in the documentation wherein only the provider name with token is mentioned - whereas  i checked the registry.terraform.io and searched for civo plugin - found the plugin usage and corrected my code - terraform init worked

![Screenshot-2](https://user-images.githubusercontent.com/20254557/110329242-58be5e80-8042-11eb-9dad-f4391e8eb212.J

[2021-03-08 13:45] #28 closed

[2021-03-10 05:59] jayanth-iyer opened #29 "terraform plan throwing Error: Error in function call"
On running terraform plan, i get the below error

Error: Error in function call

  on instances.tf line 5, in resource "civo_instance" "my-test-instance":
   5:   size = element(data.civo_instances_size.small.sizes, 0).name
    |----------------
    | data.civo_instances_size.small.sizes is empty list of object

The screenshot below shows compilation error in the instances.tf file

![Screenshot-3]

[2021-03-14 15:01] ulm0 opened #31 "Unable to create kubernetes cluster"
When trying to create a cluster i get the following error:

[code]

[2021-03-14 18:15] alejandrojnm commented on #31
Yes i'm woking in the new provider

[2021-05-07 14:09] akosveres commented on #31
Not to rush anyone, but any updates on this @alejandrojnm? Or maybe we can help with a PR if it's a small thing?

[2021-05-07 14:47] akosveres commented on #31
My workaround for this was to create the k3s cluster manually (I did it in the console but can be done through the CLI) and then I imported it into terraform via the `terraform import` command.

[2021-05-07 15:25] alejandrojnm commented on #31
Hi nice, i was stuck in the launch of Civo, but I'm back to trail, i got some problem with the migration to Terraform v2 SDK but i already fixed it

[2021-05-12 07:25] Waterdrips opened #32 "Confusing example with node_size data block"
In the docs it shows how to search for small nodes

[code]
Which (in the kubernetes doc) is used to create a cluster with 4 "small" nodes.

This actually pulls out the first entry returned which is the xsmall nodes, as seen in this output.

[code]

If i change the selector to `g3.small` it then outputs

[code]

which is selecting the small size.

[2021-05-12 07:30] Waterdrips opened #33 "Changing node size not applied"
I created a cluster with g3.xsmall nodes, then updated the size to g3.small which provided the following output

[code]

It says its going to update in place, bit in the UI i still see a node pool with 3x g3.xsmall nodes and no additional node groups or indication that it did anything.

![image](https://user-images.githubusercontent.com/40488132/117936064-50adc400-b2fc-11eb-9228-b43766a0db9c.png)

[2021-05-12 07:34] Waterdrips commented on #33
Actually, re-running the apply gives the same change every time, so its failing to make the update and always planning that change

[2021-05-12 07:38] Waterdrips opened #34 "Default k8s node size in docs is not correct"
The docs on terraform registry say the kubernetes default node size is `g2.small`

its actually creating a cluster with `g3.k3s.small`

[2021-05-12 13:38] alejandrojnm commented on #33
Hi @Waterdrips we are working to fix this, thanks or the issue

[2021-05-12 17:21] alejandrojnm commented on #32
True, but that is just and example how to use the filter for the `data "civo_instances_size"`, but I will change to put `g3.small` and also I will add other filter, to prevent to show non instance sizes

[2021-05-13 13:12] #34 closed

[2021-05-13 13:36] #32 closed

[2021-05-13 13:37] #31 closed

[2021-05-25 19:48] #29 closed

[2021-06-02 09:38] DMajrekar opened #35 "Need a way to specify Firewall ID on a K8S Cluster"

[2021-06-05 00:10] ejstreet opened #36 "Inconistent result after applying Firewall Rule"
I get the following error when trying to add firewall rules to a firewall in terraform:
[code]
Usually the first rule in a map will show up in the webUI, even though it does produce this error.

My config:
[code]
Inputs
[code]

[2021-06-05 10:30] ejstreet commented on #36
I imported the created rule and ran `plan`, it gave me this:
[code]

[2021-06-06 13:01] ejstreet commented on #36
I had a go at building the provider locally with

func resourceFirewallRule() *schema.Resource {```
...
end_port": {
				Optional:     true
[code]

[2021-06-14 09:25] alejandrojnm commented on #36
OK i will check this

[2021-06-14 23:02] rawkode opened #39 "Applications -traefik Not Respected"
I've spun up a few clusters using the Pulumi provider, which wraps this.

I'm using `applications: ["-traefik"]`, but I always get traefik deployed to my cluster.

[2021-06-14 23:13] rawkode commented on #39
It would appear these applications are case-sensitive.

`-Traefik` works
`-traefik` doesn't error, but doesn't do anything

These should probably be case-insensitive.

[2021-06-15 08:41] andyjeffries opened #40 "Use a randomly generated name (like the CLI does) for instance/cluster name if not provided"

[2021-06-16 11:37] alejandrojnm commented on #36
This is fixed in the v0.10.4

[2021-06-16 11:37] #36 closed

[2021-06-16 11:37] alejandrojnm commented on #40
This is done in the v0.10.4

[2021-06-16 11:37] #40 closed

[2021-06-17 11:03] lluked opened #41 "Firewall Issues - [ERR] failed to create a new firewall: UnknownError"
On running Terraform apply I am running into the following error:

[code]

Config:

[code]

It appears the first rule applies fine however the second doesn't, I don't see anything obviously wrong with the config and if I take the first rule out the second works. It seems only one rule is able to be applied at a time. Also I tried with both end port defined and commented out.

Thanks,
Luke

[2021-06-17 12:17] lluked commented on #41
Changing depends_on = [civo_firewall.test] to depends_on = [civo_firewall_rule.http] on the second rule results in a deployment with no issues, looks like a resourcing issue where both rules are attempted to be created at the same time. I couldn't find any documentation mentioning it was necessary to chain the firewall rules in order to deploy.

[2021-06-18 08:25] alejandrojnm commented on #41
I'm checking this

[2021-07-13 13:58] dirien opened #42 "ResponseDecodeFailed: failed to decode the response expected from the API"
hi @alejandrojnm ,

as requested in slack, the issue regarding the ResponseDecodeFailed.

How to test:
[code]

First terraform apply:
[code]
imediatly second time called terraform apply:

[code]
This one was succesful...

[2021-07-16 11:52] alejandrojnm commented on #42
Hi @dirien, we found some problems in the Go lib, they have already been fixed, but this error still persists, we are investigating. For the ahirab the solution I found to this is to use `depends_on` so that everything works, like this:

[code]
This a temporal solution

[2021-07-16 11:53] #42 closed

[2021-07-18 20:55] alejandrojnm commented on #41
This is already fixed, now the provider shows the error, but we need to check our endpoint to see what is happening.

[2021-07-18 23:44] #39 closed

[2021-07-22 11:48] jbdevopscz opened #43 "instances terraform creation - inconstitent state"
After succesfull "terraform apply" command coressponding instances are created. But after running "terraform apply" again - it will still wants to update something.

[code]
Plan: 0 to add, 2 to change, 0 to destroy.

[2021-07-22 12:37] alejandrojnm commented on #43
Hi @jbdevopscz thanks for report this, can you share you config, the terraform version, the provider version in that way we can try to reproduce this error

[2021-07-22 19:46] jbdevopscz commented on #43
you can use just the template as example on the web, i am using terraform version 0.12.12 but also the last version.  The provider version is 0.10.4. - 6

[2021-07-22 19:56] jbdevopscz commented on #43
also, if you not specify your own firewall (so the Default is used) the next terraform apply still aplying update in firewall_id

` ~ update in-place

Terraform will perform the following actions:

  # civo_instance.funnel1 will be updated in-place
  ~ resource "civo_instance" "funnel1" {
      - firewall_id        = "f5915384-63a8-4c54-9fa1-5c11a5c4d400" -> null
        id                 = "ff70

[2021-07-22 20:00] alejandrojnm commented on #43
Ta i will check this in the night

[2021-07-23 08:34] mciverza opened #44 "Enhancement/Feature request:node-pools"
request for feature to manage node-pools.
add / remove / scale node pools.
on Civo cluster

[2021-07-23 10:00] alejandrojnm commented on #44
@mciverza this is what we see in the call ?

[2021-07-23 10:51] mciverza commented on #44
Let's close this request as the feature exists.
 and I'll open a new issue.

[2021-07-23 10:51] #44 closed

[2021-07-23 10:56] mciverza opened #45 "can't add node pool version 0.10.6"
Given this main.tf, and using 0.10.6 civo provider.

[code]
which was applied successfully.

after which I amended the file to add a resource, and expected a node-pool to be added.

[code]

**`terraform apply`** fails. And I see this error first:

after which the command fails with

which doesn't make sense to me, as via `terraform console` I can obtain info
[code]

command output of `terraform ap

[2021-07-23 11:05] mciverza commented on #45
When starting with this as the initial `main.tf`
[code]

The cluster with 2 node pools is created as expected

The following is the final output of `terraform apply -auto-approve`

[code]

[2021-07-23 11:08] mciverza commented on #45
without changing _`main.tf`_

re-running `terraform plan` shows that it will try to make number of nodes increase from one to two
[code]

But the actual `terraform apply` fails.

Again with

[2021-07-23 11:12] alejandrojnm commented on #45
let me try to see if i can reproduce this error

[2021-07-23 13:28] alejandrojnm commented on #45
I found the error, the problems is the pool is not able to get the cluster from the region, we need add region as param to the resouce as one required

[2021-07-26 11:45] #45 closed

[2021-07-27 11:37] #43 closed

[2021-07-27 17:46] #41 closed

[2021-07-30 09:06] dirsigler commented on #35
You can create a custom network, attach a firewall with firewall rules to the network and the reference the network on your Kubernetes Cluster. Is that not solving your use case?

That's how I do it currently:

[code]

[2021-07-30 09:27] dirsigler opened #46 "Show available node sizes in documentation"
The documentation doesn't show any hints on the available node sizes for a Kubernetes Cluster.
You can find a reference to a Data Source in the [Example Usage for the civo_kubernetes_cluster](https://registry.terraform.io/providers/civo/civo/latest/docs/resources/kubernetes_cluster#example-usage), but that one is a bit misleading, because the Data Source is not configured in the example.

Furtherm

[2021-07-30 09:33] alejandrojnm commented on #46
Hi @dirsigler you can use in this way

[code]

[2021-07-30 09:38] dirsigler commented on #46
Ok, this works too.
But still this does not change anything on the problem.

In my opinion there should be some kind of better documentation on which sizes are available in the provider documentation.
Either by adding the data source to the [Example](https://registry.terraform.io/providers/civo/civo/latest/docs/data-sources/kubernetes_cluster#example-usage) or providing further information in a li

[2021-07-30 10:26] andyjeffries commented on #46
I agree, this comes down to "the code works and the example works" but the Developer eXperience is lacking.

[2021-08-03 08:19] bcdrme opened #47 "Importing a node pool crashes"
`terraform import civo_kubernetes_node_pool.main <node-id>:<pool:id>` results in

[code]

[2021-08-05 02:18] zulh-civo commented on #47
I will look at this

[2021-08-05 07:47] zulh-civo commented on #47
@bcdrme can you share the steps to reproduce this? I just give it a try and it's working on my end.

![Screenshot 2021-08-05 at 3 43 11 PM](https://user-images.githubusercontent.com/75463191/128311605-c1142fac-0779-44b2-b6da-fa1552b4cd07.png)

I think you were using incorrect command (`terraform import civo_kubernetes_node_pool.main <node-id>:<pool:id>`). The [documentation](https://github.com/civ

[2021-08-05 09:49] bcdrme commented on #47
It's a typo in my original post. I'm indeed running `terraform import civo_kubernetes_node_pool.main cluster_id:node_pool_id` and the plugin crashes.

1. add a new node pool to an existing cluster using CIVO.com admin dashboard
2. edit the terraform configuration, here's the relevant part:
[code]
3. run `terraform import civo_kubernetes_node_pool.main cluster_id:node_pool_id`  -> crash

[2021-08-06 04:08] zulh-civo opened #49 "Unable to change imported node pool size"
When using `terraform import civo_kubernetes_node_pool` to import node pool that was created outside of Terraform (e.g. via Civo.com web UI), the node pool ID stored in the _terraform.tfstate_ file is incorrect.

It does look like this currently:

[code]

Note that `e0f903bd-0237-48ed-976e-b5a0ff9fca62:71a6d794-418d-460a-9b63-462319cc30bc` part where `e0f903bd` is cluster ID and `71a6d794` is node

[2021-08-06 08:03] zulh-civo commented on #47
@bcdrme - I try again today by doing a few tests but I'm not able to reproduce this still. Maybe I missed something. Could you run `export TF_LOG=INFO` in your shell, run it again and share the terminal outputs here? Or, if you want to screenrecord all the steps and attach it here, that would be very helpful for me to see where the issue is. Thank you.

[2021-08-09 08:36] zulh-civo commented on #33
@Waterdrips - I'm sorry to inform that we do not yet support in-place upgrade for the Kubernetes node pool. We can't simply "delete" the old node pool and "create" a new node pool (with the new nodes size) because it will affect the running workloads in customer's cluster. Until we figure it out, the workaround is you need to create a new node pool with the new nodes size (`g3.small`).

[2021-08-09 09:14] zulh-civo commented on #35
I chat with @DMajrekar about this and the points are:

* The above configuration isn't really what he meant. He was referring to "creating firewall on cluster creation".
* Firewall is not network specific. It's cluster specific.
* We need to add/update the Civo API before we can implement this in Terraform provider (please confirm @andyjeffries)

[2021-08-09 09:49] faem opened #51 "Mark password and similar sensitive fields as Terraform Sensitive Data"
The `initial_password` field in `civo_instance` is a sensitive field. So it should be marked as Sensitive.

Ref:
https://github.com/civo/terraform-provider-civo/blob/master/civo/resource_instance.go#L121-L124
https://www.terraform.io/docs/language/state/sensitive-data.html

[2021-08-09 09:56] faem opened #52 "`civo_kubernetes_cluster` scale up is not working as expected"
First created a `civo_kubernetes_cluster` resource using the following tf file:
[code]

Then updated the `num_target_nodes` field to `5` and applied again.
[code]

Expected to see 5 nodes on the cluster. But it only scales up to 4 and the `terraform apply` command returns successfully.

[2021-08-09 10:05] faem opened #53 "Can't update the size of `civo_isntance`"
First created a `civo_instance` using the following tf file:
[code]

Then updated the `size` to `g3.large`.

[code]

Got this error from `terraform apply`:

[code]

[2021-08-11 02:40] zulh-civo commented on #47
I'm closing this due to inactivity. Feel free to reopen if the problem persist. Thanks.

[2021-08-11 02:40] #47 closed

[2021-08-12 07:33] zulh-civo commented on #52
I can confirm this issue happened to me as well. But not when I'm using Civo.com web UI. I will take a look.

[2021-08-12 08:25] tamalsaha commented on #51
Kubeconfig in Cluster resource will be another one.

[2021-08-12 08:31] tamalsaha opened #57 "Kubeconfig in Cluster resource should be marked sensitive"

[2021-08-12 08:31] tamalsaha commented on #51
Done https://github.com/civo/terraform-provider-civo/issues/57

[2021-08-12 08:31] tamalsaha opened #58 "public key in SSH should not be marked sensitive"
https://github.com/civo/terraform-provider-civo/blob/e82f7ce8bc846c5b7bc4040a60aecc974d42a378/civo/resource_ssh.go#L27

[2021-08-12 08:32] zulh-civo commented on #57
I will look at this

[2021-08-12 08:32] saiyam1814 commented on #58
Cool @zulh-civo can this also be included in the same PR ?

[2021-08-12 08:34] zulh-civo commented on #58
@saiyam1814 for much clear tracking and make reviewers' work easier, I prefer we have separate PR. Meaning, this issue will be linked to another PR. Release wise, we can release them together, no worry.

[2021-08-12 08:35] #33 closed

[2021-08-12 08:36] saiyam1814 commented on #58
ok makes sense

[2021-08-12 08:55] kaihoffman commented on #53
I think  we've identified the issue @zulh-civo . Any chance you kept the instance around? Are you able to let me know if it's actually upgraded behind the scenes if you refresh? I only ask because the error I think this is bubbling up comes from a different part of the code, after the resize is complete.

[2021-08-12 08:57] tamalsaha commented on #53
Sorry, we don't have the instance anymore.

[2021-08-12 09:06] kaihoffman commented on #53
@tamalsaha no worries, we're implementing a fix now regardless. In case @zulh-civo still has his instance around I'd be curious but purely out of a desire to find out if I was right, haha.

[2021-08-13 02:36] #46 closed

[2021-08-13 02:36] #51 closed

[2021-08-13 02:37] #58 closed

[2021-08-13 08:11] zulh-civo commented on #53
The API team had pushed a fix related to the API error and there's no more error when resizing instance using Civo.com or API. I also have created #61 to fix a small Terraform provider bug when resizing instance.

However we noticed that the instance resize didn't take place properly. Meaning, the update request went through the API and get saved successfully in our database but the resize process

[2021-08-13 08:14] #53 closed

[2021-08-13 17:48] kameshsampath opened #62 "unable to use the custom module with terraform"
When trying to use `civo/civo` provider with custom module results in the module being searched under `hashicorp/civo` and the module is not initialised.

Clone the reproducer https://github.com/kameshsampath/civo-example and doing `terraform init` will result in the following error:

[code]

If you try to run without custom module things work as expected.

CC: @saiyam1814  @alejandrojnm

[2021-08-13 17:55] #49 closed

[2021-08-17 07:28] zulh-civo commented on #62
@kameshsampath please take a look at [this issue](https://github.com/kameshsampath/civo-example/pull/1). I hope that will fix your problem. If the problem persist, please reopen this issue.

[2021-08-17 07:28] #62 closed

[2021-08-17 07:32] #57 closed

[2021-08-17 08:45] kameshsampath commented on #62
thanks @zulh-civo will check it out.

[2021-08-18 02:39] zulh-civo opened #65 "Change default node size to "g3.k3s.medium""
The CLI [is using](https://github.com/civo/cli/blob/24baf1f7c4be24d5c3b7e149406451badfd89d20/cmd/kubernetes.go#L76) "g3.k3s.medium" as default node size when creating a cluster. But this Terraform provider [is using](https://github.com/civo/terraform-provider-civo/blob/076005617496bc63a5cfe523a61b611d0ae32c4e/civo/resource_kubernetes_cluster.go#L255) "g3.k3s.small" as default.

Which one should be

[2021-08-18 08:00] #52 closed

[2021-08-18 08:38] andyjeffries commented on #65
I think medium is best - if people launch a small they may have a bad experience due to some fairly hefty apps in the App Store. If they want to launch a smaller one they can choose it with options.

[2021-08-18 08:45] saiyam1814 commented on #65
+1 to what Andy said

[2021-08-19 02:15] #65 closed

[2021-08-19 05:10] saiyam1814 opened #67 "civo volumes"
customer should be able to
* Create a new volume
* List volumes
* Attach a volume to an instance
* Detach a volume from an instance
* Deleting a volume

[2021-08-23 04:41] zulh-civo opened #68 "Create volume failed"
[code]

Related to #67

[2021-08-23 09:18] zulh-civo commented on #67
I did tests for items above and found some issues in the current/stable version. Applied all the fixes and they are in https://github.com/civo/terraform-provider-civo/pull/69.

[2021-08-24 01:32] #67 closed

[2021-08-24 01:32] #68 closed

[2021-08-26 01:28] zulh-civo opened #70 "Firewall rule CIDR should be required"
The `cidr` field in `civo_firewall_rule` is currently optional. But the [docs](https://registry.terraform.io/providers/civo/civo/latest/docs/resources/firewall_rule#argument-reference) says it's required.

I think it should be required because a valid firewall rule should have a CIDR. Otherwise, it will be empty like this:

![Screenshot 2021-08-26 at 9 27 10 AM](https://user-images.githubuserconte

[2021-08-26 02:04] zulh-civo opened #71 "Unable to destroy multiple firewall rules"
[code]

When I checked Civo.com, it only deletes one firewall (port 80). Port 443 is still there.

![2](https://user-images.githubusercontent.com/75463191/130903679-7b1a88b3-67a5-44a9-844c-f9fa688797d6.png)

And when I rerun it, it went through successfully. I check Civo.com and the network, firewall and firewall rule (port 443) all deleted.

[code]

[2021-08-26 02:05] zulh-civo opened #72 "Unable to create multiple firewall rules"
[code]

When I checked Civo.com, only one firewall rule get created:

![1](https://user-images.githubusercontent.com/75463191/130902752-16727112-ecc8-4749-a06b-9356d06f45a7.png)

And when I rerun it, then it creates the second firewall rule:

[code]

[2021-08-26 04:19] zulh-civo opened #74 "Unable to create multiple instances"
[code]

[2021-08-27 06:38] zulh-civo opened #76 "Check if firewall exists before deleting"
When we have the following configuration...

[code]

...and we want to run `terraform destroy` command to delete all the resources above, Civo API will auto-delete the firewall when _civo_kubernetes_cluster_ gets deleted. Meaning, when the plugin tries to [delete](https://github.com/civo/terraform-provider-civo/blob/0dcfc1c5fecc48f0002c063fe2fc80f8999bb0e3/civo/resource_firewall.go#L114) the firew

[2021-08-27 07:18] zulh-civo opened #77 "Missing `direction` in `civo_firewall_rule`'s state"
The API is giving `null` for firewall rule's `direction` field.

Screenshots:

![Screenshot 2021-08-27 at 2 58 34 PM](https://user-images.githubusercontent.com/75463191/131086636-ba2f1349-193b-4e75-986c-e1185bea4448.png)

![Screenshot 2021-08-27 at 2 59 58 PM](https://user-images.githubusercontent.com/75463191/131086648-6c16d892-7e5d-46ae-a1a2-a79f6d1b7c3f.png)

Due to that, the `direction` state

[2021-09-01 03:38] zulh-civo opened #80 "Empty state when refreshing firewall resource created in another region"
Terraform config file:

[code]

Terminal traces:

[code]

How to fix:

Add the following block in [firewall](https://github.com/civo/terraform-provider-civo/blob/master/civo/resource_firewall.go)'s Read, Update and Delete function. It only exists in Create function currently.

[code]

[2021-09-02 01:45] zulh-civo opened #81 "Remove "move from" IP in civo instance resource"
It's legacy feature and we should remove it.

Checklist:

- [ ] Remove from the code
- [ ] Update the docs

[2021-09-02 01:48] #35 closed

[2021-09-02 01:49] #76 closed

[2021-09-02 02:38] zulh-civo opened #82 "Cluster tags shouldn't be saved in comma separated format"
Assumming we have created a cluster using this config file:

[code]

When we rerun `terraform apply` command, it shows:

[code]

Terraform think we changed the `tags` because we [joined](https://github.com/civo/terraform-provider-civo/blob/b176aeff49c47dd65e795fc777552bcc9f2b1820/civo/resource_kubernetes_cluster.go#L357) them using comma — but it supposed to be space separated, not comma separated

[2021-09-02 05:29] zulh-civo opened #83 "Check if provided network ID exists in region before creating volume"
When the provider has no `region`, it will use NYC1 region as default (I believe this is being done by Civo API server and not by civogo).

When user did a data query for network, it will return a network from NYC1 (note: network data source can't accept both `label` and `region` at this moment).

Now, when user wants to create a `civo_volume` in LON1 region, the passed down network `id` is incorr

[2021-09-02 05:34] zulh-civo opened #84 "Allow network data source query by `region`"
Related to https://github.com/civo/terraform-provider-civo/issues/83, the following network query via data source will fail.

Config file:

[code]

Traces

[code]

User should be able to query network by `region` with/without `label`. And not just by `label`.

[2021-09-02 08:48] #70 closed

[2021-09-03 04:29] zulh-civo opened #88 "Terraform tries to perform in-place update when there is no `firewall_id` set in configuration file"
We added firewall support when launching Kubernetes cluster in #73 where we are saving `firewall_id` in the state after the cluster is created.

Example configuration file:

[code]

Now, when we run `terraform apply` command again after the first `terraform apply`, the following error will appear:

[code]

The error was caused by this [line](https://github.com/civo/terraform-provider-civo/blob/0bb

[2021-09-03 05:00] zulh-civo commented on #80
Looks like this was already implemented in https://github.com/civo/terraform-provider-civo/pull/78/files

[2021-09-03 05:06] zulh-civo commented on #80
I tested master branch (0bbeab845ba77fc0d69ea676ec23b4cce0a7a7f1) and I can confirm this issue is fixed by PR above.

[2021-09-03 05:06] #80 closed

[2021-09-03 05:28] zulh-civo commented on #77
The issue* was fixed by API team and I can see the correct `direction` from the API response now.

![Screenshot 2021-09-03 at 1 25 44 PM](https://user-images.githubusercontent.com/75463191/131954966-3850e04f-d2f3-4602-88b4-c66f12d44452.png)

I will retest this again and report back here.

\* Tracked internally at Civo (note for Civo staff: as at issue 17 in civo/api).

[2021-09-03 06:28] zulh-civo commented on #77
The API is working as expected and no longer returning `null`. But when we create firewall and doesn't provide `direction`, the API will return an empty string (`""`). To ensure we not getting an empty string, I've created PR #91 above to check if `direction` is set in the configuration file or not. If it wasn't set, we will set it to `ingress` before hitting the create firewall rule endpoint.

[2021-09-06 01:42] #84 closed

[2021-09-06 01:42] #83 closed

[2021-09-06 01:42] #82 closed

[2021-09-06 01:42] #88 closed

[2021-09-06 01:43] #81 closed

[2021-09-06 01:43] #77 closed

[2021-09-15 04:03] zulh-civo opened #93 "`civo_template` resource should be removed and `civo_template` data source should be deprecated"
In line with legacy/OpenStack EOL where Civo customers can no longer perform CRUD on Templates (this was replaced by the new [Disk Images](https://www.civo.com/api/disk_images)), we should:

- Remove `civo_template` resource and its [documentation](https://registry.terraform.io/providers/civo/civo/latest/docs/resources/template)
- Deprecate `civo_template` data source and update the [documentation

[2021-09-17 08:36] #93 closed

[2021-09-22 04:07] zulh-civo opened #95 "Prevent Kubernetes version change/upgrade"
Since there's no other k8s version to upgrade (as of today), updating `kubernetes_version` attribute on `civo_kubernetes_cluster` should raise an error. When we have more available versions later, we will re-enable this.

[2021-09-22 04:41] zulh-civo opened #97 "Update cluster name not working"
This happened because we are updating cluster's applications with cluster name from Terraform config file.

https://github.com/civo/terraform-provider-civo/blob/79c7fc10f947d1fccca1f8f3994fb81053cfe60d/civo/resource_kubernetes_cluster.go#L444-L445

To fix, change the `config.Applications` to `config.Name`.

[2021-09-23 08:48] #95 closed

[2021-09-23 08:48] #97 closed

[2021-09-30 07:39] zulh-civo opened #99 "`firewall_id` should be required in `civo_kubernetes_cluster` resource"
In line with the recent changes in Civo API where deleting a Kubernetes cluster will not delete its firewall, we now have to make the `firewall_id` attribute required.

Meaning, user needs to create `civo_firewall` and `civo_firewall_rule` together with `civo_kubernetes_cluster` resource.

Example:

[code]

By doing this, user can still manage the firewall even after the cluster gets deleted. For

[2021-09-30 08:45] #99 closed

[2021-11-01 21:01] dirsigler commented on #72
I saw this issue already somewhere else in an old issue here.
The "solution" there was to add _depends_on_ cascading for each firewall rule.

like:
[code]

[2021-11-02 15:36] dirsigler opened #104 "civo_kubernetes_cluster broken in 1.0.2"
There seems to be a big fuckup with the `civo_kubernetes_cluster` in the Civo Terraform Provider Version `1.0.2`

If you use the Civo Provider Version `1.0.2` and want to create a Kubernetes Cluster you receive following error:

[code]

You can test that easily out with:

[code]

If you use above configuration you can create the setup without any problems.
Then change the Provider Version to `1.0.

[2021-11-02 16:21] alejandrojnm commented on #104
Checking now

[2021-11-02 21:07] philipsahli commented on #104
I received the same error and gladly using version `1.0.1` cluster creation works fine.

[2021-11-02 22:51] #104 closed

[2021-11-12 05:05] andrewtchin commented on #71
@zulh-civo Is there a workaround for this?

[2021-11-13 04:04] lefterisALEX opened #106 "-Traefik as application list of resource "civo_kubernetes_cluster" is not working"
Trying to install a cluster using the following resource

[code]
**Expected behavior:**   A cluster is installed without the default application Traefik.
**Actual behavior**:  Cluster runs and traefik is installed and as well in the cluster

[code]

Using ` Terraform v1.0.11` and civo provider `1.0.5`

[2021-11-15 12:10] vishalanarase commented on #106
@lefterisALEX Can you please verify? The issue is fixed.

[2021-11-29 05:12] lefterisALEX commented on #106
Yes, working now. thanks!

[2021-11-29 05:12] #106 closed

[2021-12-01 10:53] alejandrojnm opened #110 "Error creating firewall rules"
[code]
[code]

[2021-12-01 10:55] alejandrojnm opened #111 "Error scaling a cluster"
[code]

[2021-12-02 14:00] andyjeffries commented on #110
Found and fixing this in the Go API.

[2021-12-09 08:19] surajnarwade opened #112 "data source for `civo_firewall`"
as per the provider documentation, I can't see data source for the `civo_firewall`.

it would be nice to refer existing firewall which is preconfigured with rules.

is there a reason why this data source don't exist.

[2021-12-09 08:22] surajnarwade commented on #112
happy to contribute if there's no reason why it does not exist :)

[2021-12-09 08:43] saiyam1814 commented on #112
Here are docs for creating firewall using terraform
https://www.civo.com/docs/terraform/598

[2021-12-09 08:44] saiyam1814 commented on #110
is this fixed ? @andyjeffries ?

[2021-12-09 08:52] andyjeffries commented on #110
I believe so, can it be re-tested please (I can barely remember what I did on Monday, let alone a week ago ;-) )

[2021-12-09 08:52] saiyam1814 commented on #112
Thanks for raising this @surajnarwade and yes would love your contribution :)

[2021-12-09 08:56] surajnarwade commented on #112
Thanks @saiyam1814 PR on it's way soon :)

[2021-12-09 09:47] alejandrojnm commented on #110
Testing now @saiyam1814 @andyjeffries

[2021-12-09 13:51] #112 closed

[2021-12-09 13:51] alejandrojnm commented on #110
This is already fixed, was in the API side

[2021-12-09 14:51] marshyon commented on #23
I'm getting it now

$ civo kubernetes ls
Error: UnknownError

[2021-12-11 13:41] #111 closed

[2021-12-16 09:51] #72 closed

[2021-12-16 09:52] alejandrojnm commented on #71
This is done

[2021-12-16 09:52] #71 closed

[2021-12-17 01:12] zulh-civo commented on #72
@alejandrojnm do you mind writing some notes about this? Fixed? Ignored?

[2021-12-17 02:28] alejandrojnm commented on #72
This is already fixed from the API side

[2022-03-21 09:47] dtomasi opened #123 "unexpected state 'AVAILABLE', wanted target 'ACTIVE'. last error: %!s(<nil>)"
I got this error earlier this morning and I'm wondering if this is related to the terraform, the provider or CIVO API.

[code]

[2022-03-28 19:36] Xzelsius opened #124 "Can't use loadbalancer data source without region being specified in provider"
If I want to load informations about a loadbalancer like this

[code]

it is necessary to specify the region in the provider config.

[code]

In my case I do prefer to not specify the region in the provider config.

Is there a way to work around this?
If not, what is your intended way to manage a multi region project from one Terraform workspace?

[2022-03-29 07:39] alejandrojnm commented on #124
Hi @Xzelsius so far there is no solution for that, what we can do is add a region to the data source and in that way you can specify the region independent of the provider, will be like overwrite

[2022-03-29 08:14] Xzelsius commented on #124
@alejandrojnm That would be fantastic. Thank you!

[2022-04-01 14:37] #124 closed

[2022-04-03 13:13] landro opened #126 "Crash while refreshing state"
civo_kubernetes_cluster.my-cluster: Refreshing state... [id=8ac52eba-5fbd-4279-8567-4e6934c33d88]
╷
│ Error: Plugin did not respond
│
│   with civo_kubernetes_cluster.my-cluster,
│   on main.tf line 50, in resource "civo_kubernetes_cluster" "my-cluster":
│   50: resource "civo_kubernetes_cluster" "my-cluster" {
│
│ The plugin encountered an error, and failed to respond to the plugin.(*GRPCProvider

[2022-04-03 14:47] alejandrojnm commented on #126
HI, can you share your `tf` file ???

[2022-04-03 20:27] emctl opened #127 "Civo provider bug - plugin.(*GRPCProvider).ReadResource call"
+ provider registry.terraform.io/civo/civo v1.0.14

[code]

[2022-04-03 20:29] emctl commented on #127
Workaround (sort of):
- add `--refresh=false` to your terraform command

[2022-04-05 14:05] #127 closed

[2022-04-21 09:59] nlamirault opened #134 "Unable to add node pools"
On an existing cluster created by Terraform, i can't add node pools:

[code]

Variables :

[code]

The execution:

[code]

[2022-04-21 10:31] alejandrojnm commented on #134
you need check the size, look here https://registry.terraform.io/providers/civo/civo/latest/docs/data-sources/size

example:
[code]

[2022-04-21 12:47] alejandrojnm commented on #126
This is already fixed

[2022-04-21 12:47] #126 closed

[2022-04-21 12:52] nlamirault commented on #134
Sure. I made a mistake on my size names :(
Sorry for noise

[2022-04-21 12:52] #134 closed

[2022-05-05 17:20] Confuzed opened #137 "interface {} is nil error when scaling default node pool in kubernetes cluster"
I'm using terraform with your provider to manage a cluster, and have encountered an error during the apply stage whenever I try to change the number of nodes in the cluster's default node pool. Note that the configuration change does occur, but terraform doesn't recognise that and thinks the apply failed due to the error.

Output from terraform:

[code]

[2022-05-16 20:24] guineveresaenger opened #138 "Delete Firewall fails with 500: an error occurred while tring to delete the firewall"
When I try to delete a Kubernetes cluster and a firewall using `destroy`, I get the following error:

[code]

I can verify in the dashboard that my firewall indeed still exists.

Using curl and the firewall ID from the response, I can successfully delete:

[code]

Steps to reproduce:

1. Create a Civo Kubernetes cluster and firewall:
`main.tf`
[code]
`$terraform apply`

2. Attempt to destroy the r

[2022-06-08 21:59] andrew-s opened #139 "Plugin crash when cluster takes longer than hour"
I'm not sure why, but cluster creation took over an hour and so the plugin timed out (the cluster still didn't build). However, when re-running the terraform to get the state from a 'building' state;

Prior run;

[code]

This then resulted in;

[code]

I'm not sure how common this is but it seems that it isn't handled in the TF.

[2022-06-15 05:59] surajnarwade opened #140 "`region` field in `civo_kubernetes_node_pool` should not be required"
I think the `region` field in `civo_kubernetes_node_pool` as mentioned below should be optional:

[code]

As per the docs, the region of node_pool should match the cluster. But in cluster definition, we are already passing `region` and if not passed it is picking it up from the provider definition.

does this make sense? if yes,  I am happy to contribute :)  🙏

[2022-06-15 06:27] alejandrojnm commented on #140
Made the PR to see

[2022-07-19 20:43] Xzelsius commented on #137
I have the same issue

Terraform Cloud Plan output
[code]

Terraform Cloud Apply output
[code]

Using dashboard.civo.com works :|

[2022-07-19 20:46] Xzelsius commented on #137
Fun fact, the cluster scaled properly.. just my Terraform Cloud Run failed with above message

[2022-07-21 16:26] alejandrojnm commented on #137
Hi @Xzelsius I will check this

[2022-08-25 20:17] haardikdharma10 commented on #123
@alejandrojnm can you take a look at this? I think this is coming from - https://github.com/civo/terraform-provider-civo/blob/master/civo/resource_kubernetes_cluster.go#L300

[2022-08-25 20:22] alejandrojnm commented on #123
Hi @dtomasi that errar was fixed in the last version, what version are you running??

[2022-09-06 08:11] zulh-civo opened #146 "Add `api_endpoint` to provider setup"
In order to use API server other than `api.civo.com`, we have to set `CIVO_API_URL` environment variable (code is [here](https://github.com/civo/terraform-provider-civo/blob/master/civo/provider.go#L91-L99)). It would be nice if we can set it in the TF file itself. Something like what DO has [here](https://registry.terraform.io/providers/digitalocean/digitalocean/latest/docs). It should be optiona

[2022-09-06 10:59] RealHarshThakur commented on #146
Something similar needs to be done here: https://github.com/civo/civo-cloud-controller-manager/blob/master/cloud-controller-manager/cmd/civo-cloud-controller-manager/main.go#L26

[2022-09-09 02:49] kitarp29 commented on #146
Is this open?
Could I be assigned to this?? @RealHarshThakur @alessandroargentieri

[2022-09-11 08:06] uzaxirr commented on #146
Hey, Can i take this up?

My approach would be.

1. Modifying schema in `Provider()`function in `provider.go`
[code]
2. Adding the below changes in `ProviderConfigure()` function.
[code]
3. Finally returning the client
`client, err = civogo.NewClientWithURL(tokenValue, apiURL, regionValue)`

[2022-09-12 09:08] RealHarshThakur commented on #146
Agree with first  and third step. In the second step though, we should default to production API URL rather than erroring out.

[2022-09-12 09:40] uzaxirr commented on #146
U mean something like this?

[code]

[2022-09-12 10:14] RealHarshThakur commented on #146
I think we shouldn't do it via environment variables and provider config. It should just be the provider config that allows customization of API URL. By default, it should be pointed to `https://api.civo.com` , just hardcoded.

[2022-09-12 10:14] uzaxirr commented on #146
I've created a PR for the same, please take a look #147

[2022-09-12 10:22] uzaxirr commented on #146
@RealHarshThakur  Something like this? https://github.com/civo/terraform-provider-civo/pull/147/commits/2f73c7b05c2ba7952aecdb979934eba1e79a8ecb

[2022-09-19 06:54] uzaxirr commented on #140
Hey @alejandrojnm
I'm unable to find PR for this issue can you please link it. And if it's not been made yet i'll be happy to pick it up

[2022-09-19 07:00] alejandrojnm commented on #140
I don't remember saw that PR so you can do it, let me know when is done and I will check

[2022-09-21 20:15] #146 closed

[2022-09-22 16:34] uzaxirr commented on #140
Hey @alejandrojnm
My approch would be:
in `civo/resource_kubernetes_cluster_pool.go` we need to change the region key of the schema to this
[code]
But i'm not sure what should be the value of `apiClient.Region` in case region is not specified and the `region` variable in `resourceKubernetesClusterNodePoolCreate` function is nil

[2022-09-22 17:15] uzaxirr commented on #140
Raised an initial PR #149 please do give it a look

[2022-09-27 10:21] alessandroargentieri commented on #139
@andrew-s did you have the chance to try the command again? Was this error systematic or happened (for some reasons) just once? Thanks for reporting!

[2022-09-27 10:26] alessandroargentieri commented on #138
hello, @guineveresaenger did you have a chance to check if the problem is solved? The issue is relatively old and the Civo API have been updated since.
Thanks for contributing!

[2022-09-27 10:42] andrew-s commented on #139
@alessandroargentieri This was because the cluster name was too long, and some internal components failed - I retried with a shorter name at the time and it then worked, so I'm unsure if;

1) The TF plugin handles responses from the API better
2) Longer names are now supported

Hope that helps!

[2022-10-06 08:19] alejandrojnm commented on #140
For now this is not posible

[2022-10-06 08:19] #140 closed

[2022-10-13 17:26] aw1cks opened #151 "Firewall resource is not idempotent when region is null"
Hi there!
I noticed an idempotency issue with the `civo_firewall` resource.

I deployed a firewall with the following code:
[code]

Here is the state after deploying it:
[code]

However, if I now plan again:
[code]

This issue doesn't appear if explicitly specifying the region. However, as per the [docs](https://registry.terraform.io/providers/civo/civo/latest/docs/resources/firewall#region), this

[2022-10-13 19:16] alejandrojnm commented on #151
I will check, thank for the report @aw1cks

[2022-10-14 08:33] #151 closed

[2022-10-14 08:33] alejandrojnm commented on #151
This will be out in the next release

[2022-10-14 11:13] aw1cks commented on #151
Thanks for the quick fix!

[2022-10-21 19:20] Tautcius opened #154 "Fails to create cluster in not default network"
When I try to creat cluster not in default network it fails.
[code]
Works when create in default
[code]

[2022-10-21 19:28] alejandrojnm commented on #154
Thanks @Tautcius for the report I will check this more late

[2022-10-24 10:38] Tautcius commented on #154
@alejandrojnm yes I am aware of deprecation, just rewritten my code to new setup, but it is still working only in default network.

[2022-10-24 10:39] alejandrojnm commented on #154
I will check this, thanks for the report

[2022-10-25 10:48] Tautcius commented on #154
Yes that is correct, if I create not default network rules cannot be created and i get error

[code]

and code looks like this:
[code]

[2022-10-25 10:55] Tautcius commented on #154
looks like it is my bad. missed in documentation to specify ```network_id``` if not using default network.

**[network_id](https://registry.terraform.io/providers/civo/civo/latest/docs/resources/kubernetes_cluster#network_id) (String) The network for the cluster, if not declare we use the default one**

[2022-10-25 10:55] #154 closed

[2022-11-09 12:36] alejandrojnm commented on #123
I will close this one

[2022-11-09 12:36] #123 closed

[2022-11-10 10:00] DMajrekar opened #155 "Object Store Docs Missing"
The docs for object store are out of date

[code]

These fields don't match what is listed on https://registry.terraform.io/providers/civo/civo/latest/docs/resources/object_store

When reading the docs, I would have expected the status output to be documented so I know what I can use in other parts of my tf file.

[2022-11-10 10:06] DMajrekar commented on #155
Looks like we're missing the "Attribute" section similar to https://registry.terraform.io/providers/terraform-provider-openstack/openstack/latest/docs/resources/compute_keypair_v2#attributes-reference

[2022-11-10 10:52] alejandrojnm commented on #155
We can't add that section to the doc, because we use `terraform-plugin-docs` to generate the doc for the provider, so we can't touch the doc file because it will be overwritten by the release process.

[2022-11-18 07:24] #74 closed, assigned to nobody

[2022-11-18 07:27] #155 closed

[2022-11-23 15:51] alejandrojnm commented on #139
HI @andrew-s @jarededwards it possible to see the TF for this ?? also in what region is this ??

[2022-11-23 16:03] jarededwards commented on #139
hi @alejandrojnm , this is in the `NYC1` region here is the [terraform code](https://gist.github.com/jarededwards/7e20522e40896297e7ca7d0e794b05b8)  i executed, i tried to keep it as minimal as possible

[2022-11-23 16:05] jarededwards commented on #139
also if its helpful, this morning i just updated to latest (`1.3.5`) but have not re-executed
[code]

[2022-11-24 11:01] alejandrojnm commented on #139
Hi @jarededwards and @andrew-s we found a bug in the NYC1 region but it is already done and fixed, Please can you try again and let me know to close this issue.

[2022-11-24 15:29] jarededwards commented on #139
hey @alejandrojnm thanks so much for the quick turn around. I was able to provision a new cluster in `NYC1` this morning! thanks for looking into this so quickly. I will continue testing next week when i am back at work! looking forward to using civo more!
[code]

[2022-11-27 12:47] #139 closed

[2022-11-29 23:57] lblackstone commented on #137
@alejandrojnm I noticed that you marked this issue as complete. Is a fix included in a release yet? Thanks!

[2022-11-30 07:42] alejandrojnm commented on #137
I will check this again, you still have the problem ???

[2022-11-30 16:41] lblackstone commented on #137
One of our users ran into a similar panic, but it looks like that was using v1.0.24 of terraform-provider-civo, so I'm not sure if it was fixed in a subsequent release?